@tailwind base;
@tailwind components;
@tailwind utilities;

.grid-cols-3 {
	grid-template-columns: repeat(3, minmax(0, 1fr));
}

@font-face {
	font-family: 'IBM Plex Sans Thai';
	src: url('/static/fonts/ibm-plex-sans-thai/IBMPlexSansThai-Regular.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'IBM Plex Sans Thai';
	src: url('/static/fonts/ibm-plex-sans-thai/IBMPlexSansThai-Medium.ttf');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'IBM Plex Sans Thai';
	src: url('/static/fonts/ibm-plex-sans-thai/IBMPlexSansThai-SemiBold.ttf');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'IBM Plex Sans Thai';
	src: url('/static/fonts/ibm-plex-sans-thai/IBMPlexSansThai-Bold.ttf');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Inter';
	src: url('/static/fonts/inter/Inter-Regular.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Kanit';
	src: url('/static/fonts/kanit/Kanit-Regular.ttf');
	font-weight: normal;
	font-style: normal;
}

html,
body {
	background-color: #f6f6f6;
	font-family: Kanit, Inter, 'IBM Plex Sans Thai', sans-serif;
}
